

form {
	
	width : 200px;
	border : 1px solid #a25e7d;
}

form input {
	
	margin-left : 25px;
	border : 1px solid #215f25;
	color : #88718e;
}

.bouton {
	
	margin-left : 70px;
	margin-bottom : 15px;
	font-style: italic;
}